* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;
}

.container div.red-car {
  background-image: url(/lesson7/images/red-car.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 720px;
  height: 540px;
  margin: 5px;
  
}

.girl-in-sunglasses {
  margin: 5px;
  flex-basis: 360px;
  height: 540px;
  background: white;
}

.girls-with-camera {
  margin: 5px;
  flex-basis: 360px;
  height: 540px;
  background: white;
}

.boots {
  margin: 5px;
  flex-basis: 360px;
  height: 540px;
  background: white;
}
 .white-car {
  margin: 5px;
  flex-basis: 360px;
  height: 540px;
  background: white;
 }

 .big-white-text {
   color: white;
   font-size: 14px;
   padding: 0px;
   margin: 0px;

 }

 span {
   color: gray;
   font-size: 10px;
   text-transform: uppercase;
   margin: 10px;
   padding: 10px;
   
 }

 p {
   font-size: 12px;
   text-transform: uppercase;
   margin: 2px 2px 5px 2px;
   padding: 10px;
   align-self: flex-end;
   font-weight: bold;
 }

 body {
   background: #e2e7ec;
   width: 100%;
   margin: 100px 0px 100px 0px;
 }

