* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 100px auto;
}

.container div.red-car {
  background-image: url(/lesson7/images/red-car.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex-basis: 730px;
  margin: 0px 5px 5px 0px;
}

.girl-in-sunglasses {
  flex-basis: 360px;
  background: white;
  margin: 0px 0px 5px 5px;
}

.girls-with-camera {
  flex-basis: 360px;
  background: white;
  margin: 5px 5px 0px 0px;
}

.boots {
  flex-basis: 360px;
  background: white;
  margin: 5px 5px 0px 5px;
}

.white-car {
  flex-basis: 360px;
  background: white;
  margin: 5px 0px 0px 5px;
}

.big-white-text {
  color: white;
  font-size: 14px;
  margin-top: -5px;
  padding: 10px 0px 0px 10px;
}

span {
  color: gray;
  font-size: 10px;
  text-transform: uppercase;
  margin: 10px;
  padding: 10px;
}

p {
  font-size: 12px;
  text-transform: uppercase;
  margin: 2px 2px 5px 2px;
  padding: 10px;
  font-weight: bold;
}

body {
  background: #e2e7ec;
}

.face {
  padding: 10px;
  margin: 90px 0px 0px 0px;
}

.article {
text-align: left;
padding-top: 400px;
}

.time {
  color: rgb(201, 193, 193);
  font-size: 10px;
  text-transform: uppercase;
  margin: 0px;
  padding: 10px 0px 0px 10px;
}