.container {
  margin: 0 auto;
  text-align: center;
}

.searchform {
  padding: 10px;
}

.searchform-div {
  position: relative;
}

.btn {
  height: 34px;
  width: 30px;
  position: absolute;
  border-radius: 5px;
  border: 1px solid black;
}

.selectform-div {
  padding: 10px;
}

.select {
  width: 175px;
}

::-webkit-input-placeholder {
  font-size: 18px;
}

:-ms-input-placeholder {
  font-size: 18px;
}

::-ms-input-placeholder {
  font-size: 18px;
}

::placeholder {
  font-size: 18px;
}

input[type="search"] {
  padding: 5px;
  font-size: 18px;
}

.results {
  border: 1px solid black;
  margin: 50px auto;
  width: 100%;
  max-width: 800px;
}

.pagination {
  margin: 50px auto;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 70%;
  max-width: 800px;
}

.result-div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
}

.result-p {
  text-align: center;
  background-color: yellow;
  font-weight: bolder;
  position: absolute;
  top: -16px;
  left: 0px;
}

.result-img {
  height: 300px;
  width: 200px;
}

.details-btn {
  height: 20px;
  position: relative;
  top: 280px;
}

.plot-text {
  text-align: justify;
  padding: 10px;
}

.hide {
  display: none;
}

.not-found {
  font-size: 20px;
  text-align: center;
}

.active-pagination-btn {
  background-color: dodgerblue;
  border: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.previous-btn,
.next-btn {
  border: none;
  background-color: transparent;
}

.pagination-btn {
  margin: 3px;
  border: none;
  border-radius: 5px;
}
