$red: #ff3448;
$darkgray: #212121;
$gray: #303030;
$middlegray: #363636;
$lightgray: #a2a2a2;
$white: #ffffff;
$black: #030303;
$pink: #fa4bdd;
$blue: #2c2dbc;
$forLogo: "Arimo", sans-serif;
$mainfont: "Lato", sans-serif;
