@import "variables";
.accessories {
	display: flex;
	flex-flow: row wrap;
	&__item {
		border: 2px solid red;
	}

	&__title {
		font-size: 35px;
		font-family: $mainfont;
		text-transform: uppercase;
		color: $white;
		font-weight: bolder;
	}

	&__subtitle {
		font-family: $mainfont;
		color: $light-gray;
		font-weight: 500;
		font-size: 20px;
	}
}

.item-headlights {
	background-image: url("../img/accessories__headlights.jpg");
}
.item-brake-systems {
}
.item-disks {
}
.item-seats {
}
