@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap");
@font-face {
	font-family: "icomoon";
	src: url("../fonts/iconmoon/icomoon.eot");
	src: url("../fonts/iconmoon/icomoon.eot") format("embedded-opentype"),
		url("../fonts/iconmoon/icomoon.ttf") format("truetype"), url("../fonts/iconmoon/icomoon.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e900";
}
.icon-envelope:before {
	content: "\e901";
}
.icon-clock-o:before {
	content: "\e902";
}
.icon-map-marker:before {
	content: "\e903";
}
.icon-telegram:before {
	content: "\e904";
}
.icon-pinterest:before {
	content: "\e905";
}
.icon-instagram:before {
	content: "\e906";
}
.icon-twitter:before {
	content: "\e907";
}
.icon-facebook:before {
	content: "\e908";
}
.icon-facebook-f:before {
	content: "\e908";
}
.icon-automobile:before {
	content: "\e909";
}
.icon-car:before {
	content: "\e909";
}
.icon-cart-plus:before {
	content: "\e90a";
}
.icon-check-circle:before {
	content: "\e90b";
}
.icon-star-full:before {
	content: "\e90c";
}
.icon-rate:before {
	content: "\e90c";
}
.icon-star:before {
	content: "\e90c";
}
.icon-favorite:before {
	content: "\e90c";
}
.icon-bookmark:before {
	content: "\e90c";
}
.icon-mobile:before {
	content: "\e90d";
}
.icon-cell-phone:before {
	content: "\e90d";
}
.icon-handheld:before {
	content: "\e90d";
}
.icon-phone:before {
	content: "\e90e";
}
.icon-telephone:before {
	content: "\e90e";
}
.icon-contact:before {
	content: "\e90e";
}
.icon-support:before {
	content: "\e90e";
}
.icon-call:before {
	content: "\e90e";
}
.icon-cart:before {
	content: "\e90f";
}
.icon-purchase:before {
	content: "\e90f";
}
.icon-ecommerce:before {
	content: "\e90f";
}
.icon-shopping:before {
	content: "\e90f";
}
.icon-user:before {
	content: "\e910";
}
.icon-profile:before {
	content: "\e910";
}
.icon-account:before {
	content: "\e910";
}
.icon-avatar:before {
	content: "\e910";
}
