.contact-us {
	background-color: $black;

	&__container {
		max-width: 1200px;
		width: 100%;
		margin: 0px auto;
	}

	&__about {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		padding: 80px 10px;
		border-bottom: 3px solid $lightgray;
	}
	@media only screen and(max-width:$lg) {
		&__about {
			flex-flow: column wrap;
			justify-content: center;
			align-items: center;
		}
	}
}
.links-and-letter {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	border-bottom: 2px solid $lightgray;
	padding: 10px;
}
@media only screen and(max-width:$md) {
	.links-and-letter {
		flex-flow: column wrap;
		padding: 20px;
		justify-content: center;
		align-items: center;
	}
}
.footer-title {
	margin: 0px;
	font-size: 25px;
	font-weight: bold;
	color: $white;
	font-family: $mainfont;
	text-transform: uppercase;
	position: relative;
	padding: 20px 0px;
	&::after {
		content: "";
		width: 100%;
		height: 4px;
		background-color: $pink;
		position: absolute;
		top: 50px;
		left: 0%;
	}
}
.quick-links {
	&__title {
		padding: 20px 0px;
	}
}
.links {
	list-style: none;
	text-align: left;
	padding: 0px;
	margin: 20px 0px 0px 0px;
	align-self: center;
	&__item {
		font-size: 20px;
		color: $pink;
		font-weight: bold;
		padding: 10px 0px;
		font-family: $mainfont;
	}
}
.letter-and-socials {
	max-width: 300px;
	width: 100%;
	padding: 10px;
	align-self: center;

	&__title {
		padding: 20px 0px;
		&::after {
			content: none;
		}
	}

	&__desc {
		font-size: 15px;
		color: $gray;
		font-family: $mainfont;
	}

	&__submit-btn {
		max-width: 150px;
		width: 100%;
		min-height: 50px;
		margin: 40px 0px;
		border: none;
		border-radius: 50px;
		background-color: $pink;
		color: $white;
		text-transform: uppercase;
		font-family: $mainfont;
	}

	&__social {
		margin-top: 70px;
		color: $white;
		font-size: 25px;
		letter-spacing: 10px;
	}
}
.letter-socials {
	margin: 0px;
	&__mail-input {
		max-width: 280px;
		width: 100%;
		background-color: $gray;
		border: none;
		min-height: 40px;
	}
}
.socials-icons-footer {
	&:hover {
		color: $pink;
		cursor: pointer;
	}
}
.icon-facebook {
}
.icon-twitter {
}
.icon-telegram {
}
.icon-instagram {
}
.icon-pinterest {
}

.about-info {
	max-width: 390px;
	width: 100%;
	text-align: left;
	&__title {
	}
	@media only screen and (max-width: $xlg) {
		&__title {
			&::after {
				width: 45%;
			}
		}
	}

	&__desc {
		font-size: 15px;
		color: $gray;
		font-family: $mainfont;
	}
}
.our-contacts {
	&__title {
		&::after {
			width: 100%;
		}
	}
	@media only screen and (max-width: $xlg) {
		&__title {
			&::after {
				width: 70%;
			}
		}
	}

	&__location {
	}

	&__tel {
	}

	&__work-time {
	}

	&__mail {
	}
}
.contact-icons {
	color: $pink;
	padding-right: 5px;
}
.contacts-desc {
	font-size: 15px;
	color: $gray;
	font-family: $mainfont;
}
.copyright {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 50px 0px;

	&__desc {
		font-size: 15px;
		font-family: $mainfont;
		color: $gray;
	}
	@media only screen and (max-width: $md) {
		&__desc {
			margin: 0px auto;
		}
	}
}
.text-logo {
	font-size: 15px;
	font-weight: bold;
	color: $white;
}
.payment-methods {
}
@media only screen and (max-width: $md) {
	.payment-methods {
		margin: 5px auto;
	}
}
.payment-icons {
	width: 100px;
	height: 40px;
}
