header {
	font-family: $mainfont;
}
.car-store {
	&__img {
		width: 100%;
		height: auto;
	}
	&__placeholder {
		background-image: url("../images/header-bg.jpg");
		display: none;
	}
}
.option-search-container {
	&:hover {
		color: $white;
		text-decoration: none;
	}
}
.search-contact-us-container {
	width: 100%;
	margin: 0px auto;
	background-color: $darkgray;
}
.logo__title {
	font-family: $forLogo;
	color: $pink;
	font-size: 40px;
	font-weight: bolder;
}
.logo__subtitle {
	text-transform: uppercase;
	color: $white;
}
.search-container {
	max-width: 1200px;
	width: 100%;
	margin: 0px auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
	border-bottom: 1px solid $lightgray;
	&__search {
		&:hover {
			color: $pink;
			text-decoration: none;
		}
		&:active {
			text-decoration: none;
			transform: scale(1.2);
		}
	}

	.search-icons {
		padding: 4px;
	}
	@media only screen and (max-width: $md) {
		.search-container {
			justify-content: center;
			border-bottom: none;
			&__search {
				padding: 5px;
			}
		}
		.search-icons {
			padding: 1px;
		}
	}
	@media only screen and (max-width: $lg) {
		.search-container {
			justify-content: space-between;
		}
		.search-icons {
			padding: 10px;
		}
	}

	&__my-account,
	&__cart,
	&__checkout {
		padding: 0px 30px;
		text-decoration: none;
		color: $pink;
	}
	@media only screen and (max-width: $md) {
		&__my-account,
		&__cart,
		&__checkout {
			padding: 0px 5px;
		}
	}
	&__search {
		padding: 10px;
		margin: 5px;
		border-left: 1px solid $lightgray;
		color: $white;
		font-size: 25px;
		text-decoration: none;
	}
	@media only screen and (max-width: $md) {
	}
}
.contact-choose-options-container {
	max-width: 1200px;
	width: 100%;
	margin: 0px auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 10px;

	&__wish-list,
	&__compare {
		text-decoration: none;
		color: $white;
		border-left: 1px solid $lightgray;
		text-align: center;
		padding: 20px 0px 0px 20px;
		font-size: 15px;
		font-weight: bold;
		text-transform: uppercase;
		height: 80%;
		&:hover .option-icon {
			color: $white;
			text-decoration: none;
		}
		&:hover {
			color: $pink;
			text-decoration: none;
		}
	}

	@media only screen and (max-width: $md) {
		&__wish-list,
		&__compare {
			padding: 0px 0px 0px 20px;
			border: none;
			height: 40%;
			font-size: 12px;
		}
	}
	@media only screen and (max-width: $lg) {
		&__wish-list,
		&__compare {
			border: none;
			height: 40%;
			font-size: 16px;
		}
	}
}
@media only screen and (max-width: $md) {
	.contact-choose-options-container {
		text-align: center;
		justify-content: center;
		flex-flow: column wrap;
		align-items: center;
	}
}
@media only screen and (max-width: $lg) {
	.contact-choose-options-container {
		text-align: center;
		justify-content: flex-start;
		flex-flow: column wrap;
		align-items: center;
	}
}
.options-container {
	flex-basis: 30%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
	overflow: hidden;
}
@media only screen and (max-width: $md) {
	.options-container {
		flex-flow: row nowrap;
		align-items: flex-end;
		width: 100%;
		overflow: visible;
		margin: 40px auto;
	}
}
@media only screen and (max-width: $lg) {
	.options-container {
		flex-flow: row nowrap;
		align-items: center;
		width: 100%;
		overflow: visible;
		margin: 10px auto;
	}
}
.option-icon {
	font-size: 25px;
	color: $pink;
	&:hover {
		color: $white;
	}
}
.work-hours-and-phone {
	text-align: right;
}
@media only screen and (max-width: $md) {
	.work-hours-and-phone {
		text-align: center;
		padding: 10px;
	}
}
@media only screen and (max-width: $lg) {
	.work-hours-and-phone {
		text-align: center;
		padding: 15px;
	}
}
.phone {
	font-size: 25px;
	font-weight: bold;
	color: $white;
	margin: 0px;
}
.contact-icon {
	font-size: 25px;
	color: $pink;
}
.work-hours {
	color: $lightgray;
	text-transform: uppercase;
}
.icon-open-nav {
	cursor: pointer;
}
.open-nav {
	display: none;
}
@media only screen and (max-width: $md) {
	.open-nav {
		display: inline-block;
		color: $pink;
		padding: 30px;
		text-align: right;
		font-size: 30px;
	}
}

/* The Overlay (background) */
.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */
	height: 100%;
	width: 0;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0); /* Black fallback color */
	background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
	overflow-x: hidden; /* Disable horizontal scroll */
	transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
	position: relative;
	top: 25%; /* 25% from the top */
	width: 100%; /* 100% width */
	text-align: center; /* Centered text/links */
	margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block; /* Display block instead of inline */
	transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
	color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px;
	}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
	.closebtn {
		cursor: pointer;
	}
}

.nav {
	background-color: $black;
	text-transform: uppercase;
	border-top: 3px solid $lightgray;
	border-bottom: 3px solid $lightgray;

	&__container {
		max-width: 1200px;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: start;
		margin: 0px auto;
	}
}
.nav__link {
	text-decoration: none;
	font-family: $mainfont;
	font-size: 15px;
	font-weight: bold;
	color: $white;
	padding: 30px;
	&:hover {
		transform: scale(1.2);
		color: $pink;
		text-decoration: none;
	}
}
@media only screen and (max-width: $md) {
	.nav__link {
		display: none;
	}
}
