.products {
	background-color: $gray;
	padding-bottom: 100px;
	&__title {
		margin: 0px auto;
		padding: 50px 0px;
		text-align: center;
		text-transform: uppercase;
		color: $white;
		font-size: 35px;
		font-weight: bold;
		font-family: $mainfont;
		position: relative;
		&::after {
			content: "";
			width: 300px;
			height: 4px;
			background-color: $pink;
			position: absolute;
			top: 95px;
			left: 41.5%;
		}
	}

	@media only screen and (max-width: $sm) {
		&__title {
			&::after {
				content: "";
				display: none;
			}
		}
	}

	&__items {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
	}
	@media only screen and (max-width: $sm) {
		&__items {
			flex-flow: row wrap;
		}
	}
}
.poducts {
	&__container {
	}
}
.sales-item {
	margin: 20px;
	padding: 20px;
	max-width: 200px;
	width: 100%;
	background-color: $middlegray;
	text-align: center;
	&__img {
		height: 200px;
	}
	&__img img {
		width: 100%;
		height: inherit;
	}
	&__desc {
		font-size: 17px;
		color: $pink;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
	}

	&__price {
		font-size: 25px;
		color: $white;
		font-weight: bold;
		text-align: center;
	}
}
.subwoofer-item {
	background: url("../img/subwoofer-item.png");
	background-repeat: no-repeat;
	background-size: 20%;
}
.sales-item {
	&__rate {
		font-size: 17px;
		color: $pink;
	}
}
.headlights-item {
	background: url("../img/headlight-item.png");
	background-repeat: no-repeat;
	background-position: top;
}
.seats-item {
	background: url("../img/seats.png");
	background-repeat: no-repeat;
}
.audio-system-item {
	background: url("../img/audiosystem-item.png");
	background-repeat: no-repeat;
}
.disk-item {
	background: url("../img/disk-item.png");
	background-repeat: no-repeat;
}
