@import "../variables";
@import "../normalize";
@import "../grid";
@import "../main";
@import url("https://fonts.googleapis.com/css?family=Pacifico|Roboto:400,400i,700&display=swap");

.header-section {
  background-image: url("./images/bg-container-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  padding: 100px;
  font-family: 'Roboto', sans-serif;
  .nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    top: 15%;
    right: 0%;
  }

  .nav li {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    border-top: 3px solid transparent;
  }

  .nav li:hover {
    border-top: 3px solid orangered;
  }

  &__logo p {
    font-size: 50px;
    font-family: "Pacifico", cursive;
    display: block;
  }

  &__text .header {
    font-weight: bold;
    font-size: 60px;
    margin-top: 200px;
  }

  &__text .describe {
    font-size: 17px;
    width: 20%;
  }

  &__scroll-image {
    position: absolute;
    top: 100%;
    left: 50%;
  }

  &__button {
    text-transform: uppercase;
    background-color: rgb(230, 101, 54);
    color: white;
    font-size: 20px;
    width: 200px;
    height: 55px;
    display: inline-block;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 3px 3px 0px gray;
    border: 0px;
    margin-top: 50px;
  }
}

.about-us-section {
  background: #00bcbc;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 700px;
  align-items: center;
  text-align: center;
  padding: 160px;

  &__image {
    width: 50%;
  }

  &__text {
    width: 50%;
  }

  &__text .header {
    font-size: 90px;
    color: white;
    text-align: left;
  }

  &__text .describe {
    font-size: 17px;
    color: white;
    text-align: left;
  }
}
