@import "../normalize";
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap");

#subscribe-to-us {
  .subscribe {
    background-image: url("../../../dist/images/subscribe/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    max-width: 1920px;
    width: 100%;
    height: 600px;

    &__body {
      width: 100%;
      max-width: 775px;
      margin-top: 200px;
      margin-left: 360px;

    }
    &__title {
      color: #262626;
      font-family: Raleway;
      font-size: 40px;
      font-weight: 700;
      line-height: 27px;
      padding: 10px;
    }
    &__subtitle {
      color: #262626;
      font-family: Raleway;
      font-size: 17px;
      font-weight: 300;
      line-height: 27px;
      padding: 10px;
    }
    &__submit-email {
      width: 770px;
      height: 70px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      padding: 10px;
    }
    &__email-form {
      width: 570px;
      height: 55px;
      border: 1px solid #262626;
      padding: 10px;
    }
    &__submit-button {
      width: 170px;
      height: 55px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      background-color: #96b92c;
      color: #ffffff;
      font-family: Raleway;
      font-size: 20px;
      font-weight: 300;
      line-height: 27px;
      text-transform: uppercase;
      border: none;
    }
  }

  ::placeholder {
    opacity: 0.5;
    color: #262626;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
  }
}
