@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?o8c78a');
  src:  url('fonts/icomoon.eot?o8c78a#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?o8c78a') format('truetype'),
    url('fonts/icomoon.woff?o8c78a') format('woff'),
    url('fonts/icomoon.svg?o8c78a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-scroll-down-image:before {
  content: "\e900";
  color: #fff;
}
.icon-search:before {
  content: "\e901";
  color: #fff;
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-pinterest:before {
  content: "\ead1";
}
