.traffic-light {
	margin: auto;
	padding: 40px;
	background: black;
	display: flex;
	flex-flow: column wrap;
	width: 25%;
	height: 700px;
	border: 5px solid transparent;
	border-radius: 50px;
}
.traffic-light__item {
	width: 50%;
	background: rgb(172, 162, 162);
	height: 200px;
	margin: auto;
	border-radius: 45%;
}
