@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}
.calculator {
	background-color: #dadac8;
	width: 100%;
	max-width: 600px;
	border: 2px solid gray;
	margin: 0 auto;
	border-radius: 5px;
}
.calculator-screen {
	width: 99%;
	height: 50px;
	font-size: 40px;
	text-align: right;
	margin: 0 auto;
	border-radius: 5px;
}
.calculator-keys {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
button {
	max-width: 200px;
	width: 100%;
	min-height: 50px;
	font-size: 20px;
	border-radius: 50px;
	border: 1px solid gray;
}
.operator {
}
.decimal {
}
.all-clear {
	background-color: firebrick;
	border-radius: 50px;
	border: 1px solid transparent;
}
.equal-sign {
}
