// fonts
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Pacifico', cursive;

// colors
$color-black:  #262626;
$color-white: #ffffff;
$color-gray: #b9b9b9;
$color-red: #ff2b58;
$color-blue-alfa-0-5:rgba(0, 196, 196, 0.5);
$color-blue-alfa-0:rgb(0, 196, 196);
