
header {
    text-align: center;
    background-color:#ce2020 ;
    color: white;
    margin: auto;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
}
.sunset {
    margin: auto;
    width: 100%;
    height: 300px;
}
table, th, td {
    border: 3px dashed  black;
    border-collapse: collapse;
    margin: auto;
}
