footer {
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	background: #E95b11;
}

body {
	font-size: 18px;
	background: #9A0909;
}

.header-image {
	margin: 0px auto;
	display: block;
	max-width: 100%;
}

.images-container {
	background: black;
	color: white;
	padding: 50px 50px 0px 50px;
	margin: 0px auto;
	text-align: center;
}

.image-block {
	display: inline-block;
	text-align: center;
	width: 20%;
}

p {
	margin: 0px;
}
