
body {
  font-family: 'Raleway', sans-serif;
}

.contact {
  background-image: url(../images/cahee/img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact__header {
  max-width: 350px;
  margin: 0px auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 40px;
}

.contact__title {
  color: #262626;
  font-size: 90px;
  font-weight: 700;
}

.contact__subtitle {
  color: #262626;
  font-size: 17px;
  font-weight: 300;
}

.contact__column {
  display: flex;
  justify-content: space-around;
  padding-bottom: 120px;
  padding-top: 40px;
}

.contact__forms {
  display: flex;
  flex-direction: column;
}

.contact__item {
  width: 500px;
  height: 50px;
  background-color: rgba(0, 196, 196, 0.5);
  margin: 7px 0px;
  border: 0px solid transparent;
  border-left: 5px solid transparent;
  padding-left: 10px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}

::placeholder {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;

}

textarea {
  resize: none;
}

.contact__item:hover {
  background-color: rgb(0, 196, 196);
  border-left: 5px solid #355b82;
}

.contact__item_bigger {
  width: 500px;
  height: 250px;
}

.contact__contact-name {
  font-size: 17px;
  font-weight: 700;
}

.contact__contact-information {
  font-weight: 300;
  margin-bottom: 10px;
}

.footer-container {
  background-color: #262626;
  display: flex;
  color: aliceblue;
  flex-direction: row;
  justify-content: space-around;
  height: 90px;
  align-items: center;
}

.footer-container__year-of-foundation {
  color: #b9b9b9;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.footer-container__company-name {
  color: #b9b9b9;
  font-family: Pacifico;
  font-size: 25px;
  font-weight: 400;
  line-height: 25px;
}

.footer-container__who-made {
  color: #b9b9b9;
  font-family: Raleway;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
}

.footer-container__who-made_red-text {
  color: #ff2b58;
  font-weight: 700;
}