@import "fonts";
@import "variables";
@import "footer";
body#searchPage {
	padding: 0px;
	margin: 0px;
	background-color: rgb(236, 229, 229);
}
.sidebar-main-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
.empty-message {
	color: rgb(91, 87, 105);
	margin: 50px auto;
}
.btn-for-search {
	border: none;
	background-color: rgba(124, 132, 148, 0.267);
}
.output-container {
	max-width: 1200px;
	width: 100%;
	margin: 0px auto;
	display: flex;
	flex-flow: column wrap;
}
p {
	margin: 0px;
	padding: 0px;
}
.cars {
	&__blocks {
		align-self: center;
		max-width: 600px;
		width: 100%;
		margin: 5px;
		border: 1px solid rgb(218, 216, 216);
		border-radius: 5px;
		background-color: white;
	}
	&__img {
		border-radius: 5px 5px 0px 0px;
	}
	&__cost {
		color: rgb(30, 156, 62);
		font-size: 15px;
		padding: 5px;
		font-weight: 500;
	}
	&__title {
		color: rgb(96, 133, 212);
		font-size: 20px;
		font-weight: 600;
		padding: 5px;
		min-height: 80px;
	}
	&__race {
		padding: 5px;
	}
	&__year {
		padding: 5px;
	}
}
.sidebar {
	position: sticky;
	width: 400px;
	background-color: #607d8b;
	padding: 10px;
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	// position: fixed;
}
.page-footer {
	background-color: rgb(96, 133, 212);
}
/* Center the loader */
#loader {
	position: absolute;
	left: 80%;
	top: 40%;
	z-index: 1;
	width: 60px;
	height: 60px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 60px;
	height: 60px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	display: none;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}

@keyframes animatebottom {
	from {
		bottom: -100px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}
