@import url("https://fonts.googleapis.com/css?family=Aleo:300i,400,400i,700|Josefin+Sans:300,400,400i,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.caption__body {
  background-image: url(../images/caption/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.caption__title {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  padding-top: 265px;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .caption__title {
    padding-top: 50px;
    font-size: 24px;
  }
}
.caption__subtitle {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 6px;
  text-align: center;
  padding: 15px 0px 50px 0px;
}
@media screen and (max-width: 576px) {
  .caption__subtitle {
    font-size: 14px;
  }
}
.caption__search-block {
  text-align: center;
  max-width: 600px;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 60px;
  border: 2px solid #ffffff;
}
@media screen and (max-width: 576px) {
  .caption__search-block {
    max-width: 280px;
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .caption__search-block {
    max-width: 400px;
    height: auto;
  }
}
.caption__search-input {
  background: transparent;
  flex-basis: 80%;
  border: 0px solid transparent;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}
@media screen and (max-width: 576px) {
  .caption__search-input {
    letter-spacing: 0px;
    word-wrap: break-word;
    text-align: center;
  }
}
.caption__search-input ::placeholder {
  color: #999999;
}
.caption__block {
  background-color: #5474fd;
  color: #ffffff;
  font-family: "Aleo", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  padding: 10px;
  flex-basis: 20%;
  border: 0px;
  letter-spacing: 2px;
}
@media screen and (max-width: 576px) {
  .caption__block {
    letter-spacing: 0px;
    text-align: center;
    padding: 2px;
    font-size: 12px;
  }
}
.caption .icon-search {
  font-size: 20px;
}
.caption__footer {
  background: #5474fd;
  position: relative;
}
.caption__body-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}
.caption__company-name {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  padding: 28px 0px 32px 0px;
}
@media screen and (max-width: 576px) {
  .caption__company-name {
    letter-spacing: 0px;
    text-align: center;
    padding: 8px 0px 0px 0px;
    margin: 0 auto;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .caption__company-name {
    letter-spacing: 2px;
    text-align: center;
    padding: 20px 0px 10px 0px;
    margin: 0 auto;
  }
}
.caption__nav {
  padding: 28px 0px 32px 0px;
}
.caption__nav-list {
  display: flex;
  list-style-type: none;
}
@media screen and (max-width: 576px) {
  .caption__nav-list {
    display: none;
  }
}
.caption__nav-list a {
  color: #ffffff;
  font-family: "Aleo", serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.caption__nav-item {
  padding: 0px 20px 0px 20px;
}
.caption__dropbtn {
  display: none;
}
@media screen and (max-width: 576px) {
  .caption__dropbtn {
    display: inline-block;
    margin: auto;
    max-width: 100px;
    height: 30px;
    text-align: center;
    padding: 10px 0px 10px 0px;
  }
}

.scroll-down {
  text-align: center;
  padding: 120px 0px 135px 0px;
}
.scroll-down__text {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.8px;
}

.why-choose-us {
  background-image: url(../images/why-choose-us/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.why-choose-us__body {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .why-choose-us__body {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .why-choose-us__body {
    justify-content: center;
  }
}
.why-choose-us__col {
  flex-basis: 45%;
}
@media screen and (max-width: 576px) {
  .why-choose-us__col {
    flex-basis: 90%;
    padding: 0px;
    text-align: justify;
  }
}
@media screen and (max-width: 768px) {
  .why-choose-us__col {
    flex-basis: 90%;
    padding: 0px;
    text-align: center;
  }
}
.why-choose-us__title {
  color: #ffffff;
  font-family: "Aleo", serif;
  font-size: 36px;
  font-weight: 400;
  padding: 204px 0px 62px 0px;
}
@media screen and (max-width: 576px) {
  .why-choose-us__title {
    padding: 50px 0px 20px 0px;
    font-size: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .why-choose-us__title {
    padding: 50px 0px 20px 0px;
    font-size: 30px;
    text-align: center;
  }
}
.why-choose-us__subtitle {
  color: #e8e8e8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: 26px;
  padding-bottom: 60px;
}
.why-choose-us__subtitle_desc-1-st-part {
  padding-bottom: 40px;
}
@media screen and (max-width: 576px) {
  .why-choose-us__subtitle {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .why-choose-us__subtitle {
    text-align: justify;
  }
}
.why-choose-us__pictures {
  flex-basis: 50%;
  padding: 120px 0px;
}
@media screen and (max-width: 576px) {
  .why-choose-us__pictures {
    flex-basis: 80%;
    padding: 20px 0px;
  }
}
@media screen and (max-width: 768px) {
  .why-choose-us__pictures {
    flex-basis: 90%;
    padding: 40px 0px;
  }
}
.why-choose-us__footer {
  background: #333333;
}
.why-choose-us__row {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 100px 0px 120px 0px;
}
@media screen and (max-width: 576px) {
  .why-choose-us__row {
    justify-content: center;
    padding: 20px 0px 12px 0px;
  }
}
@media screen and (max-width: 768px) {
  .why-choose-us__row {
    justify-content: center;
    padding: 30px 0px 15px 0px;
  }
}
.why-choose-us__row-item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
}
.why-choose-us__row-image {
  text-align: center;
  padding: 20px;
  z-index: 2;
}
.why-choose-us__row-desc {
  color: #e8e8e8;
  font-family: "Aleo", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 26px;
  padding: 20px;
}
@media screen and (max-width: 576px) {
  .why-choose-us__row-desc {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .why-choose-us__row-desc {
    font-size: 20px;
  }
}

.booking-first-block {
  background-image: url(../images/booking-first-block/bg-booking-first.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.booking-first-block__body {
  max-width: 1170px;
  margin: 0 auto;
  padding: 230px 0px 100px 0px;
}
@media screen and (max-width: 576px) {
  .booking-first-block__body {
    padding: 70px 10px;
    margin: 0 auto;
  }
}
.booking-first-block__block {
  max-width: 540px;
  padding: 50px 30px;
}
@media screen and (max-width: 576px) {
  .booking-first-block__block {
    max-width: 300px;
    padding: 20px 10px;
    margin: 0 auto;
    text-align: center;
  }
}
.booking-first-block__desc {
  padding-bottom: 50px;
}
.block-for-booking {
  background-color: rgba(35, 35, 35, 0.9);
}

.location-for-booking {
  color: #e8e8e8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.5px;
}

.title-for-booking {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  padding: 30px 0px 30px 0px;
}

.desc-for-booking {
  color: #e8e8e8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.button-for-booking {
  background-image: url(../images/booking-first-block/bg-button.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  min-width: 225px;
  height: 60px;
  color: #ffffff;
  font-family: "Aleo", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border: 0px;
}
.button-for-booking:hover {
  border: 2px solid aqua;
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  transition: 0.2s;
}
.button-for-booking:active {
  border: 2px solid #0e1080;
  transform: scale(1.04);
  transition: 0.2s;
}

.booking-second-block {
  background-image: url(../images/booking-second-block/bg-booking-second.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.booking-second-block__body {
  max-width: 1170px;
  margin: 0 auto;
  padding: 230px 0px 100px 0px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 576px) {
  .booking-second-block__body {
    padding: 70px 10px;
    margin: 0 auto;
  }
}
.booking-second-block__block {
  max-width: 540px;
  padding: 50px 30px;
}
@media screen and (max-width: 576px) {
  .booking-second-block__block {
    max-width: 300px;
    padding: 20px 10px;
    margin: 0 auto;
    text-align: center;
  }
}
.booking-second-block__desc {
  padding-bottom: 50px;
}
.reviews {
  background-image: url(../images/reviews/bg-reviews.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}
.reviews__header {
  color: #ffffff;
  font-family: "Aleo", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding: 120px 0px 95px 0px;
}
@media screen and (max-width: 576px) {
  .reviews__header {
    margin: 0 auto;
    font-size: 30px;
    padding: 60px 0px 35px 0px;
  }
}
@media screen and (max-width: 768px) {
  .reviews__header {
    margin: 0 auto;
    padding: 90px 0px 45px 0px;
  }
}
.reviews__row {
  display: flex;
  flex-flow: row wrap;
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 200px;
}
@media screen and (max-width: 576px) {
  .reviews__row {
    max-width: 300px;
    margin: 0 auto;
    font-size: 30px;
    padding-bottom: 0px;
    flex-flow: column wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .reviews__row {
    max-width: 500px;
    margin: 0 auto;
    flex-flow: column wrap;
    justify-content: center;
    padding-bottom: 50px;
  }
}
.reviews__author-img {
  flex-basis: 30%;
}
@media screen and (max-width: 576px) {
  .reviews__author-img {
    flex-basis: 40%;
  }
}
.reviews__article {
  flex-basis: 60%;
  padding: 50px;
  background-color: #333333;
}
@media screen and (max-width: 576px) {
  .reviews__article {
    flex-basis: 60%;
    padding: 10px;
  }
}
.reviews__autrhor-article {
  color: #fefefe;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  padding-bottom: 30px;
  text-align: left;
}
.reviews__article-desc {
  color: #e8e8e8;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
}
.reviews .icon-quotes-left {
  color: #5474fd;
  font-size: 36px;
}

.footer__body {
  background-color: #232323;
  text-align: center;
  padding: 120px 0px 50px 0px;
}
@media screen and (max-width: 576px) {
  .footer__body {
    padding: 60px 0px 20px 0px;
  }
}
@media screen and (max-width: 768px) {
  .footer__body {
    padding: 50px 0px 30px 0px;
  }
}
.footer__company-name {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3.36px;
}
.footer__company-desc {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1px;
  padding-top: 15px;
}
.footer__socials {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  padding-top: 30px;
}
.footer__socials-item {
  padding: 0px 10px 0px 10px;
}
.footer .icon-linkedin2 {
  color: #5474fd;
}