@import "variables";
#about-car {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: $middlegray;
}
.about-car {
	&__container {
		background-color: transparent;
	}
	&__heading {
		background-image: none;
		height: auto;
	}
	&__search-container {
		padding: 10px 0px 10px 0px;
	}
}
.carousel-images {
	width: 80%;
	margin: 0px auto;
	height: 100%;
}
.car-about {
	width: 80%;
	margin: 30px auto;
	&__title {
		font-size: 25px;
		color: white;
	}
	&__price {
		font-size: 20px;
		color: $pink;
	}
	&__attribute {
		color: $white;
	}
	&__description {
		color: $lightgray;
	}
}

.price {
	&__EUR,
	&__UAH {
		font-size: 15px;
		color: $lightgray;
	}
}
