$color-gold: #ffcc00;
$color-icons-gray: #cccccc;
$color-dark-grey-text : #666666;
$color-desc-text-black: #333333;
$color-text-the-genius: #898f8f;
$font-primary:'Roboto - Black', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-for-view-profile: 'Open Sans', sans-serif;
       