@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
@font-face {
  font-family: "gothambold1";
  src: url("./font/gothambold/gothambold1.eot");
  src: local("gothambold1"), url("./font/gothambold/gothambold1.woff") format("woff"), url("./font/gothambold/gothambold1.ttf") format("truetype");
}

@font-face {
  font-family: "GothamBook";
  src: url("./font/GothamBook/GothamBook.eot");
  src: local("GothamBook"), url("./font/GothamBook/GothamBook.woff") format("woff"), url("./font/GothamBook/GothamBook.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham-Medium-Regular";
  src: url("./font/Gotham-Medium-Regular/gotham-medium-webfont.woff2");
  src: local("Gotham-Medium-Regular"), url("./font/Gotham-Medium-Regular/gotham-medium-webfont.woff") format("woff"), url("./font/Gotham-Medium-Regular/Gotham-Medium-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "icomoon";
  src: url("./font/iconmoon/icomoon.eot?ym57ur");
  src: url("./font/iconmoon/icomoon.eot?ym57ur#iefix") format("embedded-opentype"), url("./font/iconmoon/icomoon.ttf?ym57ur") format("truetype"), url("./font/iconmoon/icomoon.woff?ym57ur") format("woff"), url("./font/iconmoon/icomoon.svg?ym57ur#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-inbox:before {
  content: "\e900";
}

.icon-clock-o:before {
  content: "\e901";
}

.icon-phone:before {
  content: "\e902";
}

.icon-heart:before {
  content: "\e904";
}

.icon-location:before {
  content: "\e903";
}

.header {
  background-color: #4b4b4b;
  background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
}

.header__container {
  position: relative;
  width: 100%;
  height: 800px;
  overflow: hidden;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  background-color: #1d83cc3f;
  z-index: 2;
  height: 165px;
  width: 100%;
  top: 0;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  .header__nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: 100px;
  }
}

@media only screen and (max-width: 806px) {
  .header__nav {
    height: 60px;
    padding: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 620px) {
  .header__nav {
    height: 20px;
    padding: 40px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}

.arrow-down {
  position: absolute;
  top: 89%;
  left: 53.5%;
}

.arrow-down:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.single-item__element1 {
  position: relative;
  height: 800px !important;
  width: 100%;
  display: block;
}

.single-item__element1::after {
  content: "";
  background-image: url("../img/header/slide1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.single-item__title {
  color: #ffffff;
  font-family: "gothambold1";
  font-size: 80px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  margin: 386px 0px 0px 0px;
}

.single-item__subtitle {
  color: #ffffff;
  font-family: "GothamBook";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  text-align: center;
  margin: 56px 0px 0px 0px;
}

.single-item__element2 {
  position: relative;
  height: 800px !important;
  width: 100%;
  display: block;
}

.single-item__element2::after {
  content: "";
  background-image: url("../img/header/slide2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.single-item__element3 {
  position: relative;
  height: 800px !important;
  width: 100%;
  display: block;
}

.single-item__element3::after {
  content: "";
  background-image: url("../img/header/slide3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.single-item__element4 {
  position: relative;
  height: 800px !important;
  width: 100%;
  display: block;
}

.single-item__element4::after {
  content: "";
  background-image: url("../img/header/slide4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.single-item__element5 {
  position: relative;
  height: 800px !important;
  width: 100%;
  display: block;
}

.single-item__element5::after {
  content: "";
  background-image: url("../img/header/slide5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#slick-slide-control00 {
  display: none;
}

#slick-slide-control01 {
  display: none;
}

#slick-slide-control02 {
  display: none;
}

#slick-slide-control03 {
  display: none;
}

#slick-slide-control04 {
  display: none;
}

.slick-dots {
  color: white;
  list-style: circle;
  position: absolute;
  top: 253px;
  right: 2%;
  font-size: 25px;
}

@media only screen and (max-width: 1350px) {
  .slick-dots {
    top: 150px;
    right: 2%;
  }
}

@media only screen and (max-width: 900px) {
  .slick-dots {
    top: 130px;
    right: 1%;
    font-size: 12px;
  }
}

@media only screen and (max-width: 625px) {
  .slick-dots {
    display: none;
  }
}

.slick-dots li {
  padding: 10px;
}

.slick-active {
  list-style-type: disc;
  color: white;
}

.logo {
  margin-right: 35px;
}

.logo:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .logo {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 620px) {
  .logo {
    display: none;
  }
}

.list {
  margin: -7px -20px 0px 0px;
  max-width: 595px;
  width: 49.5%;
  text-align: center;
}

.list a.icon {
  display: none;
  margin-top: -10px;
}

@media only screen and (max-width: 804px) {
  .list a:not(:first-child) {
    display: none;
  }
  .list a.icon {
    display: block;
    color: white;
    width: 50px;
  }
  nav.list {
    margin: 0px;
    width: 50px;
  }
}

.list__item {
  font-family: "GothamBook";
  text-decoration: none;
  padding-left: 70px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 10px;
  position: relative;
}

.list__item::before {
  content: url("../img/header/Ellipse-empty.svg");
  position: absolute;
  left: 47px;
  top: 1px;
}

.list__item:active::before {
  content: url("../img/header/Ellipse-full.svg");
  position: absolute;
  left: 47px;
  top: 1px;
}

@media only screen and (max-width: 1200px) {
  .list__item {
    padding-left: 60px;
  }
}

@media only screen and (max-width: 1000px) {
  .list {
    width: 45%;
  }
  .list__item {
    padding-left: 20px;
  }
  .list__item::before {
    content: url("../img/header/Ellipse-empty.svg");
    position: absolute;
    left: 10px;
    top: 2px;
  }
  .list__item:active::before {
    content: url("../img/header/Ellipse-full.svg");
    position: absolute;
    left: 10px;
    top: 2px;
  }
}

.socials {
  margin-left: 142px;
}

@media only screen and (max-width: 1368px) {
  .socials {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .socials {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 804px) {
  .socials {
    display: none;
  }
}

.socials__item {
  padding-left: 15px;
}

.socials__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.projects__title {
  text-align: center;
  margin: 0px;
  margin-top: 146px;
}

.title {
  color: #2c4058;
  font-family: "gothambold1";
  font-size: 44px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  position: relative;
}

.title::before {
  content: "";
  width: 102px;
  height: 4px;
  background-color: #2c4058;
  position: absolute;
  top: -50px;
  right: 45.5%;
}

.projects {
  padding: 0px;
  margin: 0px;
}

.projects__container {
  max-width: 1170px;
  min-height: 1220px;
  margin: 0px auto;
  padding-bottom: 75px;
}

.trade-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 170px;
  position: relative;
}

.trade-center::before {
  content: url("../img/projects/trade-center-before.jpg");
  position: absolute;
  top: -70px;
  left: -215px;
  z-index: -1;
}

@media only screen and (max-width: 1200px) {
  .trade-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.trade-center__img {
  max-width: 630px;
}

.trade-center__about {
  max-width: 468px;
  margin-top: 0px;
}

.trade-center__headline {
  margin-top: -5px;
}

.trade-headline__desc {
  margin-top: 55px;
}

.headline-desc {
  font-family: "GothamBook";
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.projects-headline {
  color: #2c4058;
  font-family: "gothambold1";
  font-size: 43px;
  line-height: 24px;
  text-transform: uppercase;
}

.trade-center__desc {
  margin-top: -6px;
}

.projects-desc {
  color: #4b5562;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.trade-center__btn {
  min-width: 190px;
  min-height: 50px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #2c4058;
  color: #2c4058;
  font-family: "GothamBook";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 13px;
}

.trade-center__location {
  margin-top: 52px;
  color: #2c4058;
  font-family: "Open Sans";
  font-style: italic;
  font-size: 18px;
  line-height: 30px;
}

.commerce-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 210px;
  position: relative;
}

.commerce-center::after {
  content: url("../img/projects/commerce-center-after.jpg");
  position: absolute;
  top: -70px;
  right: -215px;
  z-index: -1;
}

@media only screen and (max-width: 1200px) {
  .commerce-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    height: auto;
  }
}

.commerce-center__about {
  max-width: 467px;
}

.commerce-headline__desc {
  margin-top: 54px;
}

.commerce-center__headline {
  margin-top: -6px;
}

.trade-commerce__desc {
  margin-top: -4px;
}

.commerce-center__btn {
  min-width: 190px;
  min-height: 50px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #2c4058;
  color: #2c4058;
  font-family: "GothamBook";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 12px;
}

.commerce-center__location {
  margin-top: 60px;
  color: #2c4058;
  font-family: "Open Sans";
  font-style: italic;
  font-size: 18px;
  line-height: 30px;
  margin-top: 52px;
}

.commerce-center__img {
  max-width: 630px;
}

html {
  height: 100%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

.news {
  margin-top: 70px;
  height: 1035px;
  background-image: url("../img/news/news-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.news__title {
  text-align: center;
  color: #fff;
  font-family: "gothambold1";
  font-size: 44px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  padding-top: 185px;
  position: relative;
}

.news__title::before {
  content: "";
  width: 100px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 137px;
  right: 47.1%;
}

.column {
  width: 100%;
  max-width: 1210px;
  height: 514px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 85px auto;
  position: relative;
}

.column__item {
  max-width: 370px;
  height: 514px;
  margin: 20px;
  background-color: #fff;
}

.column__image {
  max-height: 240px;
}

.column__desc-container {
  padding: 0px 0px 0px 20px;
}

.column__title {
  color: #2c4058;
  font-family: "gothambold1";
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
}

.column__desc {
  margin-top: -20px;
  color: #4b5562;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.author {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding-top: 15px;
}

.author__image {
  width: 60px;
  height: 60px;
  border: 0px solid transparent;
  border-radius: 50%;
}

.author__about {
  height: 37px;
  padding-left: 15px;
  padding-bottom: 10px;
}

.about-name {
  color: #2c4058;
  font-family: "GothamBook";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 7px;
}

.date-of-publication-about {
  color: #55b7ff;
  font-family: "GothamBook";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-top: -15px;
}

.slick-prev {
  background-color: transparent;
  border: none;
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: -6.5%;
}

.slick-next {
  background-color: transparent;
  border: none;
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  position: absolute;
  top: 50%;
  right: -6.5%;
}

#slick-slide-control00,
#slick-slide-control01,
#slick-slide-control02,
#slick-slide-control03,
#slick-slide-control04,
#slick-slide-control05,
#slick-slide-control06,
#slick-slide-control07,
#slick-slide-control08,
#slick-slide-control09,
#slick-slide-control10,
#slick-slide-control11,
#slick-slide-control12,
#slick-slide-control13 {
  display: none;
}

.slick-dots {
  color: #fff;
  list-style: circle;
  width: 10%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  position: absolute;
  left: 3.8%;
  top: 108%;
}

.slick-dots li {
  width: 25px;
  padding: 25px;
  font-size: 30px;
}

.slick-active {
  list-style-type: disc;
  color: #fff;
  font-size: 30px;
}

.gallery {
  height: 1000px;
}

.gallery__container {
  width: 100%;
  max-width: 1170px;
  margin: 0px auto;
  padding-top: 150px;
  text-align: center;
}

.gallery__title {
  text-align: center;
}

.collection {
  width: 100%;
  max-width: 1170px;
  margin-top: 100px;
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.collection__item360 {
  width: 50%;
  padding: 5px;
}

.collecton__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 49%;
}

.item-gallery {
  width: 48.2%;
  padding: 5px;
}

.gallery__btn {
  min-width: 190px;
  min-height: 50px;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #2c4058;
  color: #2c4058;
  font-family: "GothamBook";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  margin-top: 55px;
}

#map {
  width: 100%;
  height: 700px;
}

.footer {
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%), url("../img/footer/footer-bg.jpg");
  min-height: 524px;
}

.footer__container {
  max-width: 772px;
  width: 100%;
  margin: 0px auto;
  position: relative;
}

.contact {
  height: 450px;
  background-image: url("../img/footer/form--bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -300px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

@media only screen and (max-width: 786px) {
  .contact {
    height: 600px;
  }
}

.contact__title {
  padding-top: 93px;
  text-align: center;
  color: #2c4058;
  font-family: "gothambold1";
  font-size: 44px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  position: relative;
}

.contact__title::before {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  position: absolute;
  top: 59px;
  left: 43.5%;
}

@media only screen and (max-width: 786px) {
  .contact__title {
    font-size: 36px;
  }
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 650px;
  width: 100%;
  min-height: 190px;
  margin: 0px auto;
  margin-top: 38px;
}

@media only screen and (max-width: 786px) {
  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.our-contact {
  max-width: 300px;
  color: #2c4058;
  font-family: "GothamBook";
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
}

.contacts-icon {
  color: #7e5aff;
}

.ourcontact__number {
  margin-top: 24px;
}

.our-contact__mail {
  margin-top: 23px;
}

.our-contact__work-time {
  margin-top: 24px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name-form {
  width: 310px;
  height: 50px;
  border: none;
  border-bottom: 1px solid lightgray;
}

@media only screen and (max-width: 400px) {
  .name-form {
    width: 200px;
    margin: 0px auto;
  }
}

.name-form::-webkit-input-placeholder {
  color: lightgray;
}

.name-form:-ms-input-placeholder {
  color: lightgray;
}

.name-form::-ms-input-placeholder {
  color: lightgray;
}

.name-form::placeholder {
  color: lightgray;
}

.mail-form {
  width: 310px;
  height: 50px;
  border: none;
  border-bottom: 1px solid lightgray;
}

@media only screen and (max-width: 400px) {
  .mail-form {
    width: 200px;
  }
}

.mail-form::-webkit-input-placeholder {
  color: lightgray;
}

.mail-form:-ms-input-placeholder {
  color: lightgray;
}

.mail-form::-ms-input-placeholder {
  color: lightgray;
}

.mail-form::placeholder {
  color: lightgray;
}

.submit-btn {
  margin-top: 30px;
  max-width: 140px;
  height: 50px;
  color: #2c4058;
  font-family: "GothamBook";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  border: 1px solid #2c4058;
  margin-left: 168px;
}

@media only screen and (max-width: 786px) {
  .submit-btn {
    margin: 0px auto;
    margin-top: 20px;
  }
}

.logo-socials-container {
  min-height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 55px;
}

@media only screen and (max-width: 400px) {
  .footer__socials {
    margin: 10px;
  }
}

.social-items {
  padding-left: 5px;
}

.copiright {
  margin-top: 38px;
  color: #ffffff;
  font-family: "GothamBook";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.copyright__divider {
  padding: 0px 20px 0px 20px;
}

button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
