.gallery {
	height: 1000px;
}
@media only screen and (max-width: 576px) {
	.gallery {
		height: 2000px;
	}
}
.gallery__container {
	width: 100%;
	max-width: 1170px;
	margin: 0px auto;
	padding-top: 150px;
	text-align: center;
}
.gallery__title {
	text-align: center;
}
.collection {
	width: 100%;
	max-width: 1170px;
	margin-top: 100px;
	min-height: 448px;
	display: flex;
	flex-flow: row nowrap;
}
@media only screen and (max-width: 576px) {
	.collection {
		flex-flow: column;
		min-height: 600px;
	}
}
.collection__item360 {
	width: 50%;
	padding: 5px;
}
@media only screen and (max-width: 576px) {
	.collection__item360 {
		width: 100%;
		height: 300px;
	}
}
.collecton__items {
	display: flex;
	flex-flow: row wrap;
	width: 49%;
}
@media only screen and (max-width: 576px) {
	.collecton__items {
		width: 100%;
		flex-flow: column wrap;
	}
}
.item-gallery {
	width: 48.2%;
	padding: 5px;
}
@media only screen and (max-width: 576px) {
	.item-gallery {
		width: 100%;
		height: 300px;
	}
}
.gallery__btn {
	min-width: 190px;
	min-height: 50px;
	background-color: transparent;
	box-shadow: none;
	border: 1px solid #2c4058;
	color: #2c4058;
	font-family: $book;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	text-transform: uppercase;
	margin-top: 55px;
}
@media only screen and (max-width: 576px) {
	.gallery__btn {
		margin-top: 10px;
	}
}
