#head {
	.header {
		background-color: #4b4b4b;
		background-image: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
	}
	.header__container {
		position: relative;
		width: 100%;
		height: 800px;
		overflow: hidden;
	}
	.header__nav {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		position: fixed;
		background-color: #1d83cc3f;
		z-index: 2;
		height: 165px;
		width: 100%;
	}
	.arrow-down {
		position: absolute;
		top: 89%;
		left: 49%;
		&:hover {
			transform: scale(1.2);
		}
	}
	.single-item {
		&__slide-element {
			position: relative;
			text-align: center;
			width: 100%;
		}

		&__title {
			position: absolute;
			color: #ffffff;
			font-family: $bold;
			font-size: 80px;
			font-weight: 700;
			line-height: 22px;
			text-transform: uppercase;
			letter-spacing: 4px;
			top: 37%;
			left: 50.4%;
			transform: translate(-50%, -50%);
			width: 100%;
		}

		&__subtitle {
			position: absolute;
			color: #ffffff;
			font-family: $book;
			font-size: 18px;
			font-weight: 400;
			line-height: 22px;
			text-transform: uppercase;
			letter-spacing: 5.4px;
			top: 53%;
			left: 50.3%;
			transform: translate(-50%, -50%);
		}
	}

	.header-slide-items {
		opacity: 0.1;
	}
	#slick-slide-control00 {
		display: none;
	}
	#slick-slide-control01 {
		display: none;
	}
	#slick-slide-control02 {
		display: none;
	}
	#slick-slide-control03 {
		display: none;
	}
	#slick-slide-control04 {
		display: none;
	}
	.slick-dots {
		color: white;
		list-style: circle;
		position: absolute;
		top: 253px;
		right: 65px;
		font-size: 25px;
	}
	.slick-dots li {
		padding: 10px;
	}

	.slick-active {
		list-style-type: disc;
		color: white;
	}
	.logo {
		margin-right: 35px;
		&:hover {
			cursor: pointer;
		}
	}
	.list {
		margin: -7px -20px 0px 0px;
		max-width: 595px;
		width: 49.5%;
		text-align: center;
	}
	.list__item {
		font-family: $book;
		text-decoration: none;
		padding-left: 70px;
		text-transform: uppercase;
		color: $white;
		font-size: 14px;
		font-weight: 400;
		line-height: 10px;
		position: relative;

		&::before {
			content: url("../img/header/Ellipse-empty.svg");
			position: absolute;
			left: 47px;
			top: 1px;
		}
		&:active::before {
			content: url("../img/header/Ellipse-full.svg");
			position: absolute;
			left: 47px;
			top: 1px;
		}
	}
	.list__item--active {
	}
	.item-project {
	}
	.item-news {
	}
	.item-contact {
	}
	.socials {
		margin-left: 142px;
	}

	.socials__item {
		padding-left: 15px;
		&:hover {
			cursor: pointer;
			transform: scale(1.2);
		}
	}
}
