#news {
	.news {
		margin-top: 70px;
		height: 1035px;
		background-image: url("../img/news/news-bg.png");
		background-repeat: no-repeat;
		background-size: cover;
	}
	.news__container {
	}
	.news__title {
		text-align: center;
		color: #fff;
		font-family: $bold;
		font-size: 44px;
		font-weight: 500;
		line-height: 22px;
		text-transform: uppercase;
		padding-top: 185px;
		position: relative;
		&::before {
			content: "";
			width: 100px;
			height: 3px;
			background-color: #fff;
			position: absolute;
			top: 137px;
			right: 47.1%;
		}
	}
	.container {
		max-width: 1250px;
		margin: 0px auto;
	}
	@media screen and (max-width: 976px) {
		.container {
			width: 90%;
		}
	}
	@media screen and (max-width: 736px) {
		.container {
			max-width: 80% !important;
		}
	}
	.slick-slide div {
		max-width: 95% !important;
	}
	// @media screen and (max-width: 736px) {
	// 	.slick-slide div {
	// 		max-width: 60% !important;
	// 	}
	// }
	.column {
		// width: 100%;
		// max-width: 1210px;
		display: flex;
		flex-flow: row nowrap;
		// margin: 0px auto;
		position: relative;
		min-height: 514px;
		// @media screen and (max-width: 1200px) {
		// 	.column {
		// 		justify-content: center !important;
		// 		margin: 0px;
		// 		padding: 0px;
		// 	}
		// }

		&__item {
			max-width: 370px;
			min-height: 514px;
			margin: 20px;
			background-color: #fff;
		}

		&__image {
			max-height: 240px;
		}
		&__desc-container {
			padding: 0px 0px 0px 20px;
		}

		&__title {
			color: #2c4058;
			font-family: $bold;
			font-size: 22px;
			font-weight: 700;
			line-height: 34px;
			text-transform: uppercase;
		}

		&__desc {
			margin-top: -20px;
			color: #4b5562;
			font-family: $Open-sans;
			font-size: 18px;
			font-weight: 400;
			line-height: 30px;
		}
	}
	.author {
		min-height: 60px;
		display: flex;
		flex-flow: row nowrap;
		padding-top: 15px;

		&__image {
			max-width: 60px;
			height: 60px;
			border: 0px solid transparent;
			border-radius: 50%;
		}

		&__about {
			min-height: 37px;
			padding-left: 15px;
			padding-bottom: 10px;
		}
	}
	.about-name {
		color: #2c4058;
		font-family: $book;
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		text-transform: uppercase;
		margin-top: 7px;
	}
	.date-of-publication-about {
		color: #55b7ff;
		font-family: $book;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		margin-top: -15px;
	}
	.slick-prev {
		background-color: transparent;
		border: none;
		border: 1px solid white;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		color: white;
		position: relative;
		top: 250px;
		left: -6.5%;
		padding: 10px;
	}
	@media screen and (max-width: 1500px) {
		.slick-prev {
			left: -1.5%;
		}
	}
	.slick-next {
		background-color: transparent;
		border: none;
		border: 1px solid white;
		padding: 10px;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		color: white;
		position: relative;
		top: 250px;
		right: -6.5%;
	}
	@media screen and (max-width: 1500px) {
		.slick-next {
			right: -1.5%;
		}
	}
	#slick-slide-control00,
	#slick-slide-control01,
	#slick-slide-control02,
	#slick-slide-control03,
	#slick-slide-control04,
	#slick-slide-control05,
	#slick-slide-control06,
	#slick-slide-control07,
	#slick-slide-control08,
	#slick-slide-control09,
	#slick-slide-control10,
	#slick-slide-control11,
	#slick-slide-control12,
	#slick-slide-control13,
	#slick-slide-control14,
	#slick-slide-control15,
	#slick-slide-control16,
	#slick-slide-control17,
	#slick-slide-control18,
	#slick-slide-control19,
	#slick-slide-control20,
	#slick-slide-control21,
	#slick-slide-control22,
	#slick-slide-control23,
	#slick-slide-control24,
	#slick-slide-control25,
	#slick-slide-control26,
	#slick-slide-control28,
	#slick-slide-control29,
	#slick-slide-control30,
	#slick-slide-control31,
	#slick-slide-control32,
	#slick-slide-control33,
	#slick-slide-control34,
	#slick-slide-control35,
	#slick-slide-control36,
	#slick-slide-control37,
	#slick-slide-control38 {
		display: none;
	}
	.slick-dots {
		color: #fff;
		list-style: circle;
		width: 10%;
		margin: 0px auto;
		display: flex;
		height: 40px;
		position: absolute;
		left: 45%;
		top: 108%;
	}
	@media screen and (max-width: 1276px) {
		.slick-dots {
			left: 35%;
			top: 108%;
		}
	}
	.slick-dots li {
		width: 25px;
		padding: 25px;
		font-size: 30px;
	}

	.slick-active {
		list-style-type: disc;
		color: #fff;
		font-size: 30px;
	}
}
