#header {
  background-image: url("../img/tesla-with-smoke.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lato", sans-serif;
  height: 900px;
}

#header .search-contact-us-container {
  width: 100%;
  margin: 0px auto;
  background-color: #212121;
}

#header .logo__title {
  font-family: "Arimo", sans-serif;
  color: #fa4bdd;
  font-size: 40px;
  font-weight: bolder;
}

#header .logo__subtitle {
  text-transform: uppercase;
  color: #ffffff;
}

#header .search-container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #a2a2a2;
}

#header .search-container .search-icons {
  padding: 4px;
}

#header .search-container__my-account, #header .search-container__cart, #header .search-container__checkout {
  padding: 0px 30px;
  text-decoration: none;
  color: #fa4bdd;
}

#header .search-container__search {
  padding: 10px;
  margin: 5px;
  border-left: 1px solid #a2a2a2;
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
}

#header .contact-choose-options-container {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
}

#header .contact-choose-options-container__wish-list, #header .contact-choose-options-container__compare, #header .contact-choose-options-container__my-cart {
  text-decoration: none;
  color: #ffffff;
  border-left: 1px solid #a2a2a2;
  text-align: center;
  padding: 20px 0px 0px 20px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  height: 80%;
}

#header .options-container {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow: hidden;
}

#header .option-icon {
  font-size: 25px;
  color: #fa4bdd;
}

#header .work-hours-and-phone {
  text-align: right;
}

#header .phone {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  margin: 0px;
}

#header .contact-icon {
  font-size: 25px;
  color: #fa4bdd;
}

#header .work-hours {
  color: #a2a2a2;
  text-transform: uppercase;
}

#header .nav-container {
  background-color: #030303;
  width: 100%;
  border-top: 3px solid #2c2dbc;
  border-bottom: 3px solid #2c2dbc;
}

#header .nav {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  color: #ffffff;
  text-transform: uppercase;
  list-style: none;
}

#header .nav__link {
  display: inline-block;
  padding: 20px;
}
